.media {
  position: relative;
  padding-top: 56.25%;
}

.media iframe {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title {
  /*display: inline-block;inline-blockにします*/
  /*width: 100%; 幅も指定できる*/
  padding-top: 10px 0;/*上の余白も指定できる*/
  padding-bottom: 5px 0;/*下の余白も指定できる*/
  margin-top: 10px;/*上の余白も指定できる*/
  margin-bottom: 1px;/*下の余白も指定できる*/
  vertical-align: middle;/*縦の表示位置も指定できる*/
  font-weight: bold;/*文字を太字に*/
}

.title .title_a{
  font-size: 4vh;
}

.twitter-timeline {
  width: 85%!important; 
  height: 600!important;

}

.header {
  z-index: 9999;
  width: 100%;
  background: gray;/*背景を水色に*/
  position: fixed;
  top: 0px;
  left: 0px;
}

