.media {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
}

.media iframe {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
